/* Support.css */
.c-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-content .c-title {
  margin-bottom: 5px;
}

.c-content p {
  text-align: center;
  margin: 80px;
  margin-top: 5px;
}

.c-contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.c-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.c-container .c-contactForm {
  width: 40%;
  padding: 20px;
  border: 2px solid white; /* White color border with 2px width */
  border-radius: 20px;
  align-items: center;
}

.c-contactForm h2 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  align-items: center;
}

.c-inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.c-contactForm .c-inputbox input,
.c-contactForm .c-inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.c-inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 14px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.c-contactForm .c-inputbox input:focus ~ span,
.c-contactForm .c-inputbox input:valid ~ span,
.c-contactForm .c-inputbox textarea:focus ~ span,
.c-contactForm .c-inputbox textarea:valid ~ span {
  color: #202650;
  font-size: 12px;
  transform: translateY(-20px);
}

.c-contactForm .c-inputbox input[type="submit"] {
  width: 100px;
  background: #202650;
  color: #fff;
  border: 20px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
}

.detail {
  font-size: medium;
}
