.sidebar {
    height: 100vh;
    background: var(--primary-color);
}

.top_section {
    margin-left: 36px;
    margin-right: 50px;
    display: flex;
    text-align: center;
    gap: 30px;
    margin-bottom: -25px;
}

.logo {
    padding-top: 22px;
}

.logo img {
    width: 70px;
}

.title {
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
}

.workplace1 {
    margin-top: 40px;
    margin-left: 20px;
    color: white;
}

.work {
    margin-right: 60px;
    font-size: 18px;
}

.pluse {
    position: absolute;
    top: 130px;
    left: 325px;
}

.pluse img {
    width: 25px;
}

.hr {
    width: 90%;
    background-color: white;
    height: 1.7px;
    border: 0 none;
    margin-top: -15px;
}

.collectionSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.collectionLeft {
    margin-top: 255px;
}

.icons {
    margin-top: -360px;
    margin-left: 20px;
}

.icon {
    margin-bottom: 20px;
    width: 63px;
    height: 63px;
    padding: 1px;
    border-radius: 15px;
    background: var(--secondary-color);
    text-align: center;
}

.icon img {
    margin-top: 5px;
    width: 27px;
}

.icon span {
    font-size: 10px;
    color: white;
}

.collectionRight {
    margin-top: 5px;
    width: 245px;
    height: 470px;
    border-radius: 15px;
    background: var(--secondary-color);
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.pluse1 img,
.search img {
    width: 25px;
}

.right {
    margin-top: 40px;
}

.content {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-top: 12px;
}

.icon1 img {
    width: 20px;
}

.name {
    margin-top: -2px;
    color: white;
    font-size: 16px;
}

.userSection {
    margin-top: 18px;
}

.user {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.userImage img {
    width: 61px;
}

.userName {
    color: white;
    margin-top: -15px;
}

.userName h3 {
    font-size: 20px;
    margin-bottom: 1px;
}

.userName span {
    font-size: 14px;
}

