.collectionBox2 {
    margin-top: 50px;
    margin-left: 320px;
    width: 540px;
}

.inputBox {
    margin-bottom: 30px;
    text-align: center;
}

.invite-btn {
    margin-left: 200px;
}

.invite-btn button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}






