.sidebar3 {
    margin-top: -10px;
    margin-left: -10px;
    width: 370px;
}

.navbar3 {
    margin-top: -20px;
}

.workplace {
    margin-top: 60px;
    margin-left: 10px;
}

.workplace span {
    color: white;
    font-size: 24px;
}

.overviewSection {
    margin-left: 10px;
}

.collectionOverview button{
    cursor: pointer;
}

.requestBox {
    margin-top: 35px;
    margin-left: 300px;
    width: 540px;
}

.box {
    padding: 20px;
    background: var(--primary-color);
    border-radius: 15px;
}

.box .flex1 {
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 25px;
    display: flex;
    gap: 30px;
}

.box .flex1 .inputBox1 input {
    width: 184px;
    background: var(--primary-color);
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: 18px;
}

.box .flex1 .inputBox1 input:hover {
    color: white;
}

.inputBox {
    margin-bottom: 25px;
    text-align: center;
}

.inputBox input {
    width: 400px;
    padding-top: 10px;
    background: var(--primary-color);
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: 18px;
}

.methodBox {
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.methodBox label {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 60px;
    font-size: 20px;
    color: white;
}

.methodBox #method-select {
    padding: 8px 68px;
    background: var(--secondary-color);
    border: 2px solid white;
    outline: none;
    border-radius: 15px;
    color: white;
    font-size: 14px;
}

.methodBox option {
    color: white;
}

::placeholder {
    color: white;
}

.inputBox input:hover {
    color: white;
}

.buttonBox {
    margin-top: 35px;
    margin-left: 48px;
    margin-right: 48px;
}

.buttonBox button {
    width: 100%;
    padding: 10px 30px;
    background: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 2px;
}
